* {
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;  
}

body {
    margin-top: 0;
    text-align: center;
    background-color: rgb(250, 250, 250);
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lavender;
    margin: 0 10%;
}

.profile-image {
    width: 60%;
    height: auto;
    margin: 2.5rem auto 0;
}

h1 {
    font-weight: 800;
    font-size: 1.2rem;
    padding-top: 1rem;
   
}

p {
    font-weight:500;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-grow: 1;
}



.main-nav li:hover {
    color: lavender;
}

.intro {
    line-height: 1.6rem;
    padding: 1rem 1rem 2rem;;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem; 
    margin-top: 3rem;
    margin-bottom: 1rem;
}

img {
    width: 80%;
    height: auto;
    margin: 25px;
}

.skills {
    margin-top: 5rem;
}

.skills img {
    margin-top: .5rem;
    margin-bottom: 0;
}

main p {
    margin: 20px 15%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    margin: 4rem 1rem 2rem;
}

.footer-tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .2rem;
}

h4,
.back {
    margin:0 0;
    padding: 1.2rem;
}

.footer-head {
    margin: 0 1.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid grey;
}

.fh-item {
    padding:1rem 0;
}

.back {
    text-transform: uppercase;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}












@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-nav {
        display:none;
    }
    .main-nav li {
        background-color: white;
        padding: 1rem;
        margin: 5px 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

}   

@media screen and (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }
    .main-nav li {
        flex-basis: 15%;
        text-transform: uppercase;
        font-weight: bold;
    }

    .header-image {
        display: flex;

    }
    .intro {
        order: -1;
        margin-top: 1.4rem;
    }
    .profile-image {
        max-width: 40%;
        margin-bottom: 3rem;
        margin-right: 1.5rem;
    }
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .main-content section {
        flex-basis: 40%;
        flex-grow: 1;
        
    }
    .main-content img {
        margin-left: 0;
        margin-right: 0;
    }
    .skills img {
        max-width: 50%;
    }
    .back {
        display: none;
    }
    .footer-nav {
        display: flex;
        
        flex-grow: 1;
        
    }
    .footer-nav li {
        font-weight: bold;
        text-transform: uppercase;
        list-style: none;
        
        
        padding: 1.2rem 1rem;
    }
    .footer-tail {
        flex-direction: row;
        
        display: flex;
        justify-content: space-between; 
    }
    h4 {
        margin-right: 28%;
    }
    #footer-p {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
}

