* {
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;  
}

body {
    margin: 0 0;
    text-align: center;
    background-color: rgb(250, 250, 250);
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lavender;
    margin: 0 auto;
}

.profile-image {
    width: 60%;
    height: auto;
    margin: 2.5rem auto 0;
}

h1 {
    font-weight: 800;
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
   
}

p {
    font-weight:500;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-grow: 1;
}



.main-nav li:hover {
    color: lavender;
}

.intro {
    line-height: 1.6rem;
    padding: 1rem 1rem 2rem;;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem; 
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.3rem;
}

img {
    width: 80%;
    height: auto;
    margin: 25px;
}

.skills {
    margin-top: 5rem;
}

.skills img {
    margin-top: .5rem;
    margin-bottom: 0;
}

main p {
    padding: 20px 15%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    margin: 4rem 0 0;
}

.footer-tail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .2rem;
}

h4,
.back {
    margin:0 0;
    padding: 1.2rem;
}

.footer-head {
    margin: 0 1.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid grey;
}

.fh-item {
    padding:1rem 0;
}

.back {
    text-transform: uppercase;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}












@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-nav {
        display:none;
    }
    .main-nav li {
        background-color: white;
        padding: 1rem;
        margin: 5px 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
    header {
        width: 100vw;
    }

}   

@media screen and (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
    }
    .main-nav li {
        flex-basis: 15%;
        text-transform: uppercase;
        font-weight: bold;
    }

    .header-image {
        display: flex;

    }
    .intro {
        order: -1;
        margin-top: 1.4rem;
        padding-left: 2.5rem;
        text-align: left;
    }
    .profile-image {
        max-width: 40%;
        margin-bottom: 3rem;
        margin-right: 2.5rem;
    }
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .main-content section {
        flex-basis: 40%;
        flex-grow: 1;
        
    }
    .main-content p {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0;
    }
    .main-content img {
        margin-left: 0;
        margin-right: 0;
        width: 98%;
        height: auto;
    }
    .skills img {
        max-width: 50%;
    }
    .back {
        display: none;
    }
    .footer-nav {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        
    }
    .footer-nav li {
        font-weight: bold;
        text-transform: uppercase;
        list-style: none;
        
        
        padding: 1.2rem 1rem;
    }
    .footer-tail {
        flex-direction: row;
        display: flex;
        justify-content: space-between; 
    }
   h1 {
       font-size: 2rem;
   }
    #footer-p {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin-top: 1rem;
    }
    .main-nav {
        margin-top: 0;
        justify-content: flex-end;
    }
    h1 {
        margin-right: auto;
        margin-left: 2.5rem;
        font-size: 1.8rem;
    }
    main {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 3rem;
        background-color: rgb(250, 250, 250);
    }
    body {
        background-color: lavender;
    }
    h2 {
        margin-bottom: 2rem;
    }
    .skills {
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        background-color: rgb(250, 250, 250);
    }
    .skills h2 {
        margin-top: 0;
        
    }
    .main-content section {
        flex-basis: 30%;
    }
    #footer-p {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}